@import 'tailwindcss';

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/HITMAN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}