@import 'tailwindcss';

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/HITMAN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; 
}